@import "tailwindcss";

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-btn {
    font-size: 2em;
    padding: 10px;
    border: solid;
    background-color: green;

}